GEMINI_API_KEY=PASTE_YOUR_GEMINI_API_KEY_HERE
GEMINI_MODEL=gemini-1.5-flash
NEXT_PUBLIC_HEALTH_CARE=DEPLOYED_CONTRACT_ADDRESS_HERE
NEXT_PUBLIC_CONTRACT_ADDRESS=DEPLOYED_CONTRACT_ADDRESS_HERE
NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
MONGODB_URI=mongodb://127.0.0.1:27017/cureledger
JWT_SECRET=cureledger_secret_change_later
NEXT_PUBLIC_ADMIN_ADDRESS=YOUR_ADMIN_WALLET_ADDRESS
NEXT_PUBLIC_NETWORK=localhost
NEXT_PUBLIC_CURRENCY=ETH
